body,html {
	background-color: #000 !important;
	height: 100%;
	width: 100%;
	margin:0 !important;
	padding: 0 !important;
}
#bgvid {
	opacity:0.4;
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.hello {
	position: absolute;
	top:40%;
	left: 35%;
	right: 35%;
	background-color: transparent;
	margin: 0 auto;
	z-index:1;
}
.slide {
	width: 100%;
	height: 100%;
	min-height: 100%;
	min-width: 100%;
	margin:0 !important;
	padding: 0 !important;
}
.btn {
	background:transparent !important;
	border:4px #ff1654 solid !important;
	border-radius: 0 !important;
	font-family: 'Exo 2', sans-serif !important;
	color: #ff1654 !important;
	font-size: 25px !important;
	letter-spacing: 3px;
}
h1 {
	color: #fff !important;
	opacity: 1;
	text-align: center;
}
.something {
	position: absolute;
	top:140%;
	left: 45%;
	background-color: transparent;
	width: 100px;
	height: 30px;
	margin: 0 auto;
	z-index:1;
}

/* button hover */
/* Sink */
.btn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.btn:hover, .btn:focus, .btn:active {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}