body,html {
	background-color: #000 !important;
	height: 100%;
	width: 100%;
	margin:0 !important;
	padding: 0 !important;
}
#bgvid {
	opacity:0.4;
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 1-;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.hello {
	position: absolute;
	top:40%;
	left: 35%;
	right: 35%;
	background-color: transparent;
	margin: 0 auto;
	z-index:1;
}
.slide {
	z-index: 1;
	background-color: transparent;
	width: 100%;
	height: 100%;
	min-height: 100%;
	min-width: 100%;
	margin:0 !important;
	padding: 0 !important;
}
.btn {
	background:transparent !important;
	border:4px #ff1654 solid !important;
	border-radius: 0 !important;
	font-family: 'Exo 2', sans-serif !important;
	color: #ff1654 !important;
	font-size: 25px !important;
	letter-spacing: 3px;
}
h1 {
	color: #fff !important;
	opacity: 1;
	text-align: center;
}
.aboutMe article {
	z-index: 1;
	opacity: 1 !important;
	color: #fff !important;
	font-size: 20px;
	border: #c4c4c4 solid 3px;
	margin:50px;
	padding: 5px;
}
.box {
	margin-top:70px;
	z-index: 1;
	opacity: 1;
	color: #fff;
	text-align: center;
}
.box p {
	font-size: 16px;
	border-right: #c4c4c4 solid 2px;
	border-left: #c4c4c4 solid 2px;
	margin:0 120px;
}
.box p span {
	font-size: 22px;
	line-height: 50px;
}
.myStuff {
	margin: 0 100px;
}
#portfolio p {
	margin-top: 200px;
	border:none;
}
#portfolio a {
	text-decoration: none;
	color: #fff;
}



/* button hover */
/* Sink */
.btn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.btn:hover, .btn:focus, .btn:active {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

/* media queries */

/*video in background not working on mobile*/
@media (max-width: 1025px) {
	video {
		display: none !important;
	}
	body, html {
		background: url(../pic/poster.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	}
}

@media (max-width: 1804px) {
	.box p span {
		line-height: 22px;
	}
}
@media (max-width: 1421px) {
	.myStuff {
		margin: 0 1vw;
	}
}
@media (max-width: 988px) {
	.box p {
		margin:0 auto;
	}
	.btn {
		font-size: 20px !important;
	}
}
@media (max-width: 512px) {
	.box p {
		font-size: 4vw;
	}
	.aboutMe article {
		font-size: 4.5vw;
	}
}