<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Tomasz Rudowicz</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>  


	<script type="text/javascript" src="js/smoothscroll.js"></script>
	<script type="text/javascript" src="js/move.js"></script>
	<script type="text/javascript" src="js/controller-oceny.js"></script>

	<link href='https://fonts.googleapis.com/css?family=Exo+2:900,700&subset=latin-ext' rel='stylesheet' type='text/css'>
</head>


<body ng-app="aplikacjaOceny">
	<div class="slide">
		<video autoplay loop poster="pic/poster.jpg" id="bgvid">
			<source src="video/night.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
				<source src="video/night.ogv" type="video/ogg">
					<source src="video/night.webm" type="video/webm">
					</video>
					<div class="hello">
						<h1>
							Hello!
						</h1>
						<a href="#content" class="smoothScroll"><button type="button" class="btn  btn-block btn-responsive">READ</button></a>
					</div>
				</div>

				<div class="slide" id="content">
					<div class="myStuff">
						<div class="aboutMe move col-md-12">
							<article>
								Hi there! My name is Tomasz and I am from Wrocław/Poland. I'm studying electronics at Wroclaw University of Science and Technology at faculty of Acoustics, and to be honest I'm doing well in this! Even I've got an award(grant) for students with best marks still from my second semester until now. I'm interested in electronics, acoustics, programming and front-end technologies. Currently i'm working in Cold-Email startup - <a href="https://woodpecker.co">Woodpecker</a>, where i am responsible for front-end(interface) side in our app, i'm programming in Java(GWT lib) there and i use technologies such as HTML5, CSS3 or JS in Eclipse editor. By the way i'm responsible for execution of a large part of our website.
							</article>
						</div>
						<div class="box move2 col-md-4 col-sm-12">
							<p><span>Random facts</span><br/>
								OS: Linux - Fedora<br/>
								Text Editor: Sublime<br/>
								Compiler(java): Eclipse<br/>
								Food: Pizza<br/>
								Drink: Coffee<br/>
								Free time: Movies&Series</p>
							</div>
							<div class="box move2 col-md-4 col-sm-12">
								<p><span>Learning right now</span><br/>
									Electronics<br/>
									Acoustics<br/>
									Microprocessors</br>
								</p>
							</div>
							<div class="box move2 col-md-4 col-sm-12">
								<p><span>Want to learn in the future</span><br/>
									Advanced signal processing<br/>
									Embedded system programming<br/>
									AngularJS<br/>
								</div>
								<div class="box move2 col-md-12" ng>
									<h2><a href="#spoiler1" class="spoiler-link">Look at my marks on studies!</a></h2>
									<div class="spoiler" id="spoiler1">

										<div class="container" ng-controller="kontrolerTabeliOcen">
											<div class="row">
												<div class="col-md-12 center-block">
													<h1 class="text-center">There are my {{oceny.length}} marks from {{ile_semestrow}} semesters.</h1>
													<br/>
													<div class="input-group">
														<span class="input-group-addon">Find: </span>
														<input type="text" class="form-control" placeholder="What are you looking for? Start writing ex. progra(...)" ng-model="wyszukiwarka"> 
													</div>
													<br/>

													<div class="table-responsive">
														<table class="table table-hover">
															<thead>
																<tr>
																	<th class="text-center" ng-repeat="naglowek in [
																	'Semester' , 'Course', 'Type', 'Mark'
																	]">
																	{{naglowek}}
																</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat='element in oceny | filter : wyszukiwarka'>
																<td>{{element.Semestr}}</td>
																<td>{{element.Przedmiot}}</td>
																<td>{{element.Forma_zaj}}</td>
																<td>{{element.Ocena}}</td>
															</tr>
														</tbody>
													</table>
												</div>
												<span>*At my university we've got [2]-[5.5] marks scale, where [2] is failed, and [5.5] is the highest rating.</span>
											</div>
										</div>

									</div>
								</div>
								<div class="box col-md-12" id="portfolio">
									<p>See my work at<br/><a href="http://www.tomasz.rudowi.cz/">www.tomasz.rudowi.cz</a></p>
								</div>
							</div>
						</div>
					</div>
				</body>
				</html>